<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--icon-->
    <script src="https://kit.fontawesome.com/7103073f98.js" crossorigin="anonymous"></script>
    <title>Blog</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="blog m-5">
        <div class="cards m-3 max-w-[1320px] mx-auto grid lg:grid-cols-4 md:grid:cols-2 gap-6">
            <% gonderis.reverse().forEach(function(gonderi) { %>
                <div class="card m-3 border shadow-md flex flex-col overflow-hidden">
                    <div class="content p-5">
                        <img src="<%= gonderi.image %>" alt="img">
                        <h1 class="text-lg"><%= gonderi.title %></h1>
                        <p><%= gonderi.description %></p>
                        <a class="text-blue-500" href="/gonderi-details">read more -></a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>